@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  color: #cbd5e1;
  font-family: 'Victor Mono', monospace;
}
.general {
  @apply container bg-slate-900 min-h-screen mx-auto
}